* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgb(0, 0, 0);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a:hover {
  background: rgba(0, 0, 0, 0.75);
}

body {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  /*smooth*/
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3em 1.5em;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 80%;
  height: 60px;
  left: 10%;
  right: 10%;
  background: rgba(0, 0, 0, 0.75);
  flex-basis: 50%;
  align-items: center;
  text-align: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
  flex: 1 1 50%;
}
.navbar ul li a {
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  align-self: center;
  text-align: center;
}
.navbar ul li a:hover {
  color: lightblue;
}

.navigation ul {
  border: 1px solid rgb(0, 0, 0);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  flex: 3;
}

.navigation .user {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

p {
  text-align: center;
}

#contactUs {
  text-align: center;
}

.burgerMenu {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.burgerMenu .bar {
  height: 3px;
  width: 100%;
  background-color: ;
}

@media all and (max-width: 1000px) {
  .navbar ul {
    flex-wrap: wrap;
  }
  .navbar li {
    flex: 1 1 50%;
  }
  .navbar .user {
    flex: 1 1 33.33%;
  }
}
@media all and (max-width: 480px) {
  .navbar li {
    flex-basis: 100%;
  }
  .navbar .user {
    flex-basis: 50%;
  }
}
section {
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
  text-align: center;
}

section p {
  font-size: 1.5rem;
}

section#home {
  background: url("https://images.unsplash.com/photo-1549074862-6173e20d02a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center/cover;
  padding-top: 6%;
  text-align: center;
}

section#facts {
  background: url("https://images.unsplash.com/photo-1549074862-6173e20d02a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center/cover;

  padding-top: 6%;
  text-align: center;
}

section#recipe {
  background: url("https://images.unsplash.com/photo-1549074862-6173e20d02a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center/cover;
  padding-top: 6%;
  text-align: center;
}

section#rest {
  background: url("https://images.unsplash.com/photo-1549074862-6173e20d02a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center/cover;

  padding-top: 6%;
  text-align: center;
}
section#form {
  background: url("https://images.unsplash.com/photo-1549074862-6173e20d02a8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center/cover;
  padding-top: 6%;
  text-align: center;
}

textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.2em;
}

body {
  /* background: #D0D8DB; */
  /* padding-top: 60px; */
  /* padding-bottom: 40px; */
}

textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.2em;
}

/*.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.intro-text {
  color: rgb(182, 205, 206);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}
.slider {
  background: rgb(131, 117, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}


css for animation 
*/

/* TESTS Gonçalo NAVBAR FROM HUGO
  ​
  .navigation ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }
  .navigation ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  .navigation ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
  .navigation ul li a:hover {
    color: lightblue;
  }
  ​
  .navigation2 {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
  }
  ​*/
.virtude {
  display: flex;
  width: 35%;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 3rem;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
}

.navbar2 ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar2 ul li {
  margin: 0 1rem;
  padding: 1rem;
}
.navbar2 ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}
.navbar2 ul li a:hover {
  color: lightblue;
}

.navigation2 ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navigation2 ul li {
  margin: 0 1rem;
  padding: 1rem;
}
.navigation2 ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}
.navigation2 ul li a:hover {
  color: lightblue;
}

.navigation2 {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: black;
}
.newContainer {
  display: flex;
  justify-content: space-around;
}

.rest1 {
  width: 30%;
  margin-bottom: 7%;
}

iframe {
  margin-top: 0.5rem;
}

#gps {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.rest2 {
  width: 45%;
  padding-top: 11%;

  transform: scaleY(-1);
}
.box3 {
  display: flex;
  justify-content: right;
}
.rest3 {
  width: 40%;

  padding-bottom: 3%;
}

.rest4 {
  width: 45%;
  padding-bottom: 5%;
  transform: scaleY(-1);
}

.rest5 {
  width: 46%;
}
.box5 {
  display: flex;
  justify-content: right;
}

.menus {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  font-size: 1.7rem;
}

.virtude {
  align-self: flex-start;
  width: 40%;
  height: auto;
  margin-top: 0;
}

.menu-title {
  border-bottom: 3px solid white;
  margin-top: 40%;
}
