@media only screen and (max-width: 600px) {
  .meetTeam {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contactUs {
    padding-top: 50px;
    font-size: 15px;
  }

  .member {
    margin-left: 1.5rem;
  }

  span {
    position: relative;
    display: inline-flex;
    margin: 0;
  }
}

#bodyForm {
  display: center;
}

.allForm {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.formParag {
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#contactUs {
  text-align: center;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 2%;
}

input[type="text"],
input[type="email"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0 8px 0;
  display: inline-block;
  color: grey;
  border: none;
  border-bottom: 2px solid black;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin: 12px 0;
}

.data-btn {
  margin-top: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "Submit Suggestion";
  height: 55px;
  width: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.meetTeam {
  text-align: center;
  display: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 55px;
}

.team {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.member {
  position: relative;
  width: 150px;
  margin-bottom: 80px;
  margin-top: 25px;
  margin-left: 1rem;
}

.member::before,
.member::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 2px solid rgb(49, 49, 49);
  transition: all 0.25s ease-out;
  border-radius: 5px;
}
.member::before {
  background-color: rgb(49, 49, 49);
  top: -15px;
  left: -15px;
  border-radius: 5px;
}
.member::after {
  bottom: -15px;
  right: -15px;
  border-radius: 5px;
}
.member:hover::before {
  top: 15px;
  left: 15px;
}
.member:hover::after {
  bottom: 15px;
  right: 15px;
}

.imageI {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
}

.member-name {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.member:hover .imageI {
  opacity: 0.7;
}

.member:hover .member-name {
  opacity: 0.8;
}

.card-title {
  background-color: black;
  color: white;
  font-size: 13px;
  padding: 16px 32px;
  border-radius: 5px;
}
